# Dependencies
node_modules/

# Environment
.env

# Temporary files
temp/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Optional (kalau nanti memakai local env)
.env.local